<h1><%= @project.name %></h1>

<div>
  <div class="buttons">
    <%= link_to "Edit This Project", edit_project_path(@project), class: "button" %>
  </div>
  <div class="clear"></div>
</div>

Description: <%= @project.description %><br />
Date/Time Starts: <%= @project.begin_time %><br />
Date/Time Ends: <%= @project.end_time %><br />
Location: <%= @project.location %><br />
Supplies Required: <%= @project.supplies_required %><br />
Are Children Allowed? <%= @project.children_allowed? ? "Yes" : "No" %><br />
Sponsoring Organization: <%= @project.sponsoring_org %>
